<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>beitai</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateRole</display-name>
    <servlet-name>CreateRole</servlet-name>
    <servlet-class>edu.chinasoft.servlet.CreateRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRole</servlet-name>
    <url-pattern>/CreateRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRoleServlet</display-name>
    <servlet-name>CheckRoleServlet</servlet-name>
    <servlet-class>edu.chinasoft.servlet.CheckRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRoleServlet</servlet-name>
    <url-pattern>/CheckRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeRole</display-name>
    <servlet-name>ChangeRole</servlet-name>
    <servlet-class>edu.chinasoft.servlet.ChangeRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeRole</servlet-name>
    <url-pattern>/ChangeRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>edu.chinasoft.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserById</display-name>
    <servlet-name>CheckUserById</servlet-name>
    <servlet-class>edu.chinasoft.servlet.CheckUserById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserById</servlet-name>
    <url-pattern>/CheckUserById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>edu.chinasoft.servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
</web-app>